Proyecto/Temp/
Proyecto/Obj/
Proyecto/UnityGenerated/
Proyecto/Library/

Proyecto/ExportedObj/
Proyecto/*.svd
Proyecto/*.userprefs
Proyecto/*.csproj
Proyecto/*.pidb
Proyecto/*.suo
Proyecto/*.sln
Proyecto/*.user
Proyecto/*.unityproj
Proyecto/*.booproj

Proyecto/.DS_Store
Proyecto/.DS_Store?
Proyecto/._*
Proyecto/.Spotlight-V100
Proyecto/.Trashes
Proyecto/Icon?
Proyecto/ehthumbs.db
Proyecto/Thumbs.db